albumentations==1.4.2
boxmot==10.0.73
matplotlib==3.6.2
mplsoccer==1.2.4
numpy==1.24.4
opencv_python_headless==4.9.0.80
pandas==2.2.2
scikit_learn==1.5.0
timm==0.6.12
torch==2.2.2
tqdm==4.64.1
ultralytics==8.2.26
gdown
